{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="simple-slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" style="background: url(&quot;assets/img/30-water-shortage.jpg&quot;) center center / cover no-repeat;"></div>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <section class="features-clean">
                    <div class="container">
                        <div class="intro"></div>
                        <div class="dh-highlight-text">
                            <div class="container">
                                <h1></h1>
                                <h1 class="clearmargin clearpadding">Welcome!</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel lorem a lectus finibus bibendum ut sagittis diam. Nunc egestas nulla in elit congue, id pellentesque ex semper. Aenean euismod tellus tincidunt massa eleifend, a efficitur lectus ultricies. Aliquam bibendum et leo quis consectetur. Integer consequat consequat mauris, id porttitor sem feugiat eu. Proin ac neque eu nisi viverra mattis. Curabitur molestie lectus ac sollicitudin faucibus. Duis congue ipsum eget justo egestas blandit. &nbsp; </p>
                            </div>
                        </div>
                        <div class="row features">
                            <div class="col">
                                <section>
                                    <div class="container">
                                        <section class="features-clean">
                                            <div class="container">
                                                <div class="intro">
                                                    <h2 class="text-center">Features</h2>
                                                    <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
                                                </div>
                                                <div class="row features">
                                                    <div class="col-sm-6 col-lg-4 item"><i class="fa fa-map-marker icon"></i>
                                                        <h3 class="name">Works everywhere</h3>
                                                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-4 item"><i class="fa fa-clock-o icon"></i>
                                                        <h3 class="name">Always available</h3>
                                                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-4 item"><i class="fa fa-list-alt icon"></i>
                                                        <h3 class="name">Customizable</h3>
                                                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-4 item"><i class="fa fa-leaf icon"></i>
                                                        <h3 class="name">Organic</h3>
                                                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-4 item"><i class="fa fa-plane icon"></i>
                                                        <h3 class="name">Fast</h3>
                                                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-4 item"><i class="fa fa-phone icon"></i>
                                                        <h3 class="name">Mobile-first</h3>
                                                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="container">
                                                    <div class="bg-light border rounded border-light hero-technology jumbotron py-5 px-4">
                                                        <h1 class="hero-title">About</h1>
                                                        <p class="hero-subtitle">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                                                        <p><a class="btn btn-primary btn-lg hero-button" role="button" href="#">Learn more</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <section class="team-boxed">
                        <div class="container">
                            <div class="intro">
                                <h2 class="text-center">Team </h2>
                                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
                            </div>
                            <div class="row people">
                                <div class="col-md-6 col-lg-4 item">
                                    <div class="box"><img class="rounded-circle" src="assets/img/1.jpg">
                                        <h3 class="name">Ben Johnson</h3>
                                        <p class="title">Musician</p>
                                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 item">
                                    <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                                        <h3 class="name">Emily Clark</h3>
                                        <p class="title">Artist</p>
                                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 item">
                                    <div class="box"><img class="rounded-circle" src="assets/img/3.jpg">
                                        <h3 class="name">Carl Kent</h3>
                                        <p class="title">Stylist</p>
                                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
            </div>
        </div>
    </div>
  {% endblock %}