{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load leaflet_tags %}

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>
<div id="main"></div>
<div id="mapid" style="height:100vh;" ></div>

<script type="text/javascript">
function out_layers(map,options){


        var osm = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}{y}{x}.png');

        var wmsLayerThane = L.Geoserver.wms("http://tayyabali.in:8080/geoserver/wms", {
        layers: "Thane:thane",
        });

        wmsLayerThane.addTo(map);

        var littleton = L.marker([39.61, -105.02]).on('click', function() {
             mouseOver();
        });

        var u1 = L.marker([18.31922, 75.96477]).bindPopup("Raghu Sawant"),
         u2 = L.marker([18.32010, 75.96500]).bindPopup("Issak Md Aatar"),
         u3 = L.marker([18.32001, 75.96473]).bindPopup("Vishwas Patil"),
         u4 = L.marker([18.32000, 75.96501]).bindPopup("Shivaji Shinde"),
         u5 = L.marker([18.31986, 75.96384]).bindPopup("Rajendra Dixith"),
         u6 = L.marker([18.32000, 75.96384]).bindPopup("Laxman Sawant"),
         u7 = L.marker([18.31995, 79.64434]).bindPopup("Sachin Patil"),
         u8 = L.marker([18.31990, 75.96380]).bindPopup("Jayant Yadav"),
         u9 = L.marker([18.31980, 75.96420]).bindPopup("Jaya Mhatre"),
         u10 = L.marker([18.31990, 75.96380]).bindPopup("Vasant More"),
         u11 = L.marker([18.31970, 75.96500]).bindPopup("Sunil Pawar");


      var borewells = L.layerGroup([u1,u2,u3,u4,u5,u6,u7,u8,u9,u10,u11]);

        var baseLayers={
            "OSM": osm
        }

        var groupedOverlays = {
          "Taluka": {
            "Osmanabad": wmsLayerThane,
          },
          "Village": {
            "Yedshi": littleton,
          },
          "Borewells": {
            "Yedshi Bore": borewells,
          },
        };


        L.control.groupedLayers(baseLayers, groupedOverlays).addTo(map);

    }


     document.getElementById("mySidenav").onmouseover = function() {mouseOver()};
      document.getElementById("main").onmouseover = function() {mouseOver()};


    function mouseOver() {
      document.getElementById("mySidenav").style.width = "500px";
      document.getElementById("main").style.marginLeft = "250px";
      document.getElementById("mapid").style.zIndex = "-1";
    }

      document.getElementById("mySidenav").onmouseout = function() {mouseOut()};
      document.getElementById("main").onmouseout = function() {mouseOut()};


    function mouseOut() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginRight= "0";
      document.getElementById("mapid").style.zIndex = "1";
    }


</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'src/L.Geoserver.js' %}"></script>
{% leaflet_map "mapid" callback="window.out_layers" %}

{% endblock %}

